@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 1px solid #999; padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 20px;}
header, nav, section		{background: #eee; text-align: center;}
footer					{background: #eee; text-align: center;}
nav span             				{ margin: 0px 10px 0px 0px;
						width: 100%;
						display: inline-block;}

#ErrorMsgs          		 { color: #f61; font-size: smaler}

table{
    border-collapse: collapse;
    width: 80%;
}

th {
    background-color: #00695c;
    color: white;
}
th, td {
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #cff4d9
}
tr:nth-child(odd){
    background-color: #f0f7f9
}

h1{
    color:#00695c;
}

input[type=text]{
     background-color: #f8f8f8
}
input[type=text]:focus {
    border-color: #00695c;
}

textarea {
    width: 50%;
    height: 75px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize:none;
}

textarea:focus {
    border-color: #00695c;
}

input[type=submit], input[type=button]{
    background-color: #00695c;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 14px;
}
